.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: #1d2126;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    text-align: center;
}
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}
.logo, .nav-menu{
    height: 80px;
    display: flex;
}
.logo{
    justify-content:flex-end;
    align-items:center;
}
.nav-menu{
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}
.nav-menu a{
    margin: 20px;
    color: #a4aead;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
}
#color-btn{
    border: 1px solid #23b7a3;
    color: #23b7a3;
}
.nav-menu a:hover{
    border:1px solid #a4aead;
}
#color-btn:hover{
    background-color:#23b7a3;
    color: white;
}
.search-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}
.input-search{
    height: 30px;
    background: transparent;
    color: #a4aead;
    border: none;
    font-size: 14px;

}
.border-search{
    border: 1px solid #a4aead ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
}
.btn-search{
    background-image: url(./images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    background-color:#1d2126 ;
}
::placeholder{
    color:#a4aead ;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.slide-menu{
    max-width:100%;
}